#logo{

        margin-top: 5%;
    /* margin-left: 7%; */
    padding-right: 32%;
    height: 200px;
    float: right;
    margin-top: 7%;
}
#form1{
    
    
    
}
#cuerpoCentral
{
    margin-top: 6%;
    float: left;
    padding-left: 600px;
    margin-left: inherit;
}